html, body {
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
}

.container{
    width: 100%;
    height: 100vh;
}

.search-bar{
    margin: 2rem;
    width: 14%;
}

.search-bar:hover {
    width: 33%;
    transition: 2s ease-in-out ;
}







